@model IEnumerable<dal.report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reportTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.truck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reportTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truck.foodStyle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
