@model dal.truck

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>truck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.truckName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.truckName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.homeCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.homeCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.homeState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.homeState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foodStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.foodStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.priceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.priceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tagLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tagLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.truckURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.truckURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeStamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="truckId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
