@model dal.location

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geocode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geocode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.locationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
