
  <!-- Nav tabs -->
@{
    string nearbyTabClassStr = "nav-link " + ViewData["NearbyTabState"];
    string reportTabClassStr = "nav-link " + ViewData["ReportTabState"];
    string findTabClassStr = "nav-link " + ViewData["FindTabState"];

}
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a class="@nearbyTabClassStr"  asp-controller="Home" asp-action="Nearby">Nearby</a>
    </li>
    <li class="nav-item">
      <a class="@reportTabClassStr"  asp-controller="Home" asp-action="Report">Report</a>
    </li>
    <li class="nav-item">
      <a class="@findTabClassStr"  asp-controller="Home" asp-action="Find">Find</a>
    </li>
  </ul>

<!-- </nav> -->
</p>
@{
   string nearbyDivClassStr = "container tab-pane " + ViewData["NearbyTabState"];
  string reportDivClassStr = "container tab-pane " + ViewData["ReportTabState"];
  string findDivClassStr = "container tab-pane " + ViewData["FindTabState"];
}
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="nearby" class="@nearbyDivClassStr"><br>
<h1>Doug</h1>
    </div>
    <div id="report" class="@reportDivClassStr"><br>
<h1>Lindsay</h1>
    </div>
    <div id="find" class="@findDivClassStr"><br>
      <h1>Nischal</h1>
    </div>
  </div>
 
